- @pagetitle = "Show #{@project}"

.card.mb-3
  = render partial: 'tabs', locals: { project: @project }
  .card-body#project-monitor

    - if @buildresult_unavailable
      %p Unavailable Build Results.
    - else
      = render partial: 'monitor_control',
        locals: { project: @project, activate_client_search: @activate_client_search, shown_entries: @shown_entries,
        status: @avail_status_values, repositories: @avail_repo_values, architectures: @avail_arch_values,
        repository_filter: @repo_filter, architecture_filter: @arch_filter, status_filter: @status_filter }
      = render partial: 'monitor_info2',
        locals: { packagenames: @packagenames, project: @project, statushash: @statushash, repoarray: @repoarray, repostatushash: @repostatushash }
